/* Colors */
$primary: #ff6060;
$secondary: #f6f6f6;
$tertiary: #000;

/* Fonts */
$mainFont: "Montserrat";
$wghtAndStyle: "0,400;0,700;1,400;1,700";

/* Breakpoints */
$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;
