/* Colors */
$primary: #ff6060;
$secondary: #f6f6f6;
$tertiary: #000;

/* Fonts */
$mainFont: "Montserrat";
$wghtAndStyle: "0,500;0,700;1,500;1,700";

/* Breakpoints */
$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;

/* Others */
$mainFooterHeight: 209px;
$headerDesktopMarginTop: 45px;
$headerMobileMarginTop: 20px;
$mainNavHeight: 68px;
