.card {
	width: 100%;
	height: 100%;
	position: relative;
	aspect-ratio: 1 / 1;

	.title {
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: flex-end;
		justify-content: flex-start;
		color: #fff;
		z-index: 2;
		padding: 0 20px 20px 20px;
	}

	.image-wrapper {
		height: 100%;
		width: 100%;
		display: block;

		.bg-image {
			height: 100%;
			width: 100%;
			display: block;
			object-fit: cover;
			border-radius: 10px;
		}

		&::after {
			content: "";
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(0, 0, 0, 0.5) 100%
			);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
	}
}
