.heading {
	position: relative;

	.title {
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #fff;
		z-index: 2;
		padding: 1rem;

		@include media-max($smBreakpoint) {
			& {
				font-size: 2rem;
			}
		}

		@include media-max($xsBreakpoint) {
			& {
				font-size: 1.5rem;
				text-align: left;
			}
		}
	}

	.bg-image {
		height: 223px;
		display: block;
		object-fit: cover;
		width: 100%;
		border-radius: 25px;
		filter: brightness(0.7);

		@include media-max($xsBreakpoint) {
			& {
				height: 111px;
				border-radius: 10px;
			}
		}
	}
}
