// Utils
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/helpers";
// Vendors

// Base
@import "./base/base";
@import "./base/fonts";

// Components
@import "./components/heading";
@import "./components/card";
@import "./components/collapsible";
@import "./components/carousel";
@import "./components/hostProfile";
@import "./components/tags";
@import "./components/starRating";

// Layout
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/cardLayout";

// Pages
@import "./pages/home";
@import "./pages/about";
@import "./pages/notFound";
@import "./pages/apartment";

// Themes
